echo "# Front-End-wk1-14" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/alexbustamantee/Front-End-wk1-14.git
git push -u origin main
node_modules
